<div class="container">
  <div class="text-center">
  <h4 class="fw-300 c-grey-900 mB-40">Dummy App</h4>
 </div>
 <div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="form-group">
          <a href="/auth/github/" class="btn btn-outline-secondary btn-lg btn-block">Login with Github</a>
        </div>
    </div>
  </div>
</div>

