<div>
<input type="hidden" id="c_data" value="<%= "#{@commit_info.to_json}" %>">
<form method="get" url="/user/repo/:name/commits">
<input type="date" id="start_date" name="since" value="<%= @s_date %>">
<input type="date" id="end_date" name="until" value="<%= @e_date %>">
<input type="submit">
</form>
</div>
<style>

.chart rect {
  fill: steelblue;
}

.chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

</style>
<svg class="chart"></svg>