<div>
<div class="col-md-3 float-right">
<img src="<%=current_user.picture %>" class="rounded img-thumbnail" alt="...">
</div>
   <div class="col-md-6">
          <legend class="text-semibold">
            <i class="icon-file-text2 position-left"></i> Repository Details
          </legend>
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td style="width: 30%"><strong>Name:</td>
                  <td><%= @repo_info[:name] %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>Description:</strong></td>
                  <td><%= @repo_info[:description] %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>Language:</strong></td>
                  <td><%= @repo_info[:language]  %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>Default Branch:</strong></td>
                  <td><%= @repo_info[:default_branch] %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>Created At:</strong></td>
                  <td><%= @repo_info[:created_at]  %></td>
                </tr>
                 <tr>
                  <td style="width: 30%"><strong>Updated At:</strong></td>
                  <td><%= @repo_info[:updated_at]  %></td>
                </tr>
                 <tr>
                  <td style="width: 30%"><strong>Type:</strong></td>
                  <td><%= @repo_info[:type]  %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>Graphs:</strong></td>
                  <td><%= link_to "visual Commits", repo_commits_user_path(@repo_info[:name])  %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
</div>
