P<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Repo Name
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  	<% @repos.each do |repo_name| %>
    <a class="dropdown-item" href="<%=repo_detail_user_path("#{repo_name}")%>"><%=repo_name.humanize %></a>
    <% end %>
  </div>
</div>