<div>
<div class="col-md-3 float-right">
<img src="<%=current_user.picture %>" class="rounded img-thumbnail" alt="...">
</div>
   <div class="col-md-6">
          <legend class="text-semibold">
            <i class="icon-file-text2 position-left"></i> Personal Details
          </legend>
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td style="width: 30%"><strong>Email:</strong></td>
                  <td><%= current_user.email %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>First Name:</strong></td>
                  <td><%= current_user.first_name.try(:titleize) %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>Last Name:</strong></td>
                  <td><%= current_user.last_name.try(:titleize)  %></td>
                </tr>
                <%current_user.authorizations.each do |auth| %>
                <tr>
                  <td style="width: 30%"><strong>Provider Name:</strong></td>
                  <td><%= auth.provider %></td>
                </tr>
                <tr>
                  <td style="width: 30%"><strong>UID:</strong></td>
                  <td><%= auth.uid  %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
</div>
