<!DOCTYPE html>
<html>
  <head>
    <title>Assingment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "#{controller_name}", "data-turbolinks-track": "load" %>
     <%= stylesheet_link_tag "#{controller_name}", "data-turbolinks-track": "load" %>
  </head>

  <body>
    <div>
      <div class="container-fluid">
      <div class="row">
      <%unless @current_user.nil? %>
      <%= render partial: "layouts/sidebar" %>
      <% end %>
      <div class="col-md-10">
       <%= yield %>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>
